<!DOCTYPE html>{% extends 'base.html' %} {% block body_block %}
<div>
  <h3 class="mt-4 mb-2">Category List</h3>
  <hr />
</div>
{% if categories %} {% for category in categories %}
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">{{ category.name }}</h5>
    {% if category.description %}
    <p class="card-text">{{ category.description }}</p>
    {% endif %}
    <a
      href="{% url 'tasks_app:category_tasks' category_id=category.id %}"
      class="btn btn-sm btn-regular mt-3"
      >Visit Category</a
    >
  </div>
</div>
{% endfor %} {% else %}
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">No Category Available</h5>
  </div>
</div>
{% endif %} {% endblock %}
