<!DOCTYPE html>{% extends 'base.html' %} {% block body_block %}
<div class="container px-0">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-4">{{ category_info.name }}</h3>
      <p class="mb-0">{{ category_info.description }}</p>
    </div>
  </div>
</div>
<hr />
<div>
  <h4 class="my-3">Category Tasks</h4>
</div>
{% if category_task_info %} {% for task in category_task_info %}
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <a
      href="{% url 'tasks_app:task_detail' task_id=task.id %}"
      class="btn btn-sm btn-regular mt-3"
      >Visit Task
    </a>
  </div>
</div>
{% endfor %} {% else %}
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">No Tasks Available</h5>
  </div>
</div>
{% endif %} {% endblock %}
