<!DOCTYPE html>
{% extends "base.html" %} {% block body_block %}
<div class="container px-0">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-4 mb-0">{{ task_info.title }}</h3>
    </div>
  </div>
</div>
<hr />
<div class="card my-2">
  <div class="card-body">
    <p class="card-text"><b>Description: </b>{{ task_info.description }}</p>
    <p class="card-text"><b>Due Date: </b>{{ task_info.due_date }}</p>
    <p class="card-text"><b>Status: </b>{{ task_info.status }}</p>
    <p class="card-text"><b>Priority: </b>{{ task_info.priority }}</p>
    <p class="card-text"><b>Category: </b>{{ task_info.category.name }}</p>
  </div>
</div>
{% endblock %}
